<h2>
    <img class="flag-big" src="{{flags.svg}}" alt="flag" /> {{name.official}}<span class="country-name-result"></span>
</h2>
<ul>
    <li class="result-desc">Capital: <span class="text-desc">{{capital}}</span></li>
    <li class="result-desc">Population: <span class="text-desc">{{population}}</span></li>
    <li class="result-desc">Languages: <span class="text-desc">{{lengCh}}</span></li>
</ul>